<section id="about">
	<h1>about us</h1>

	<div class="photos">
		<img src="images/myd.JPG"/>
	</div>

	<div class="about-text">
		<p>
			Maharlika and Dami&#225n first hit it off in the fifth ward of New Brunswick, organizing concerts and films for the RU crowd. They discovered a shared passion for long walks along the river, rock and roll concerts, and travels into the unknown.
		</p>

		<p>
			It was one of these treks across the colonial and mesoamerican sites of Mexico that first brought them to the Zapotec valley of Oaxaca. After a short hiatus, they hit it off once again in Jersey City and Montclair, nurturing their shared humble upbringings, and cementing what is to be a life long romance.
		</p>
		<p>
			Together, they select the culturally diverse city of Oaxaca as the venue for their holy matrimony.
		</p>
	</div>

	<div class="best-people">
		<div class="moh">
			<img src="images/kyle.jpg"/>
			<h2 class="small-header">Kyle Stratton</h2>
			<h2 class="smaller-header">Maid Of Honor</h2>
			<p>
				Kyle and Maharlika met at VH1 where they started their careers in television production.  Over the years they have shared countless trips, cocktails, concerts, and late NYC nights.  Kyle has been a fan of Damian from the RU days, and likes to remind Maharlika, "I told you so."  Despite Kyle's unwarranted aversion to New Jersey, her and Maharlika have been best frends for over 10 years.
			</p>
		</div>

		<div class="bm">
			<img src="images/john.jpeg"/>
			<h2 class="small-header">John Hamilton</h2>
			<h2 class="smaller-header">Best Man</h2>
			<p>
				John Hamilton is an internatianal man of business. Formerly a relentless break dancing newcomer to Basking Ridge High School, this bright young fellow has always managed to have the back of his clandestine brown skinned mate for decades to come. After a questionable stint in Boston, this agile snowboarder also known as "BDJ" and  "Bullit" has hosted some of the finest gatherings across domestic venues in midtown Manhattan, southern Vermont and, most recently, at the luxurious Birchmont Estate in Warren NJ.
			</p>
		</div>

	</div>



</section>