<section id="about">
	<h1>about us</h1>

	<div class="photos">
		<img src="images/filler_ox.png"/>
		<img src="images/filler_ox.png"/>
	</div>

	<div class="about-text">
		<p>
			Maharlika and Damian first hit it off in the fifth ward of New Brunswick, orginizing concerts and films for the RU crowd. They discovered a shared passion for long walks along the river, rock and roll concerts, haircuts in the moonlight and travels into the unknown.
		</p>

		<p>
			It was one of these treks across the colonial and mesoamerican sites of Mexico that first brought them to the Zapotec valley of Oaxaca. After a short hiatus, they hit it off once again in Jersey City and Montclair, nurturing their shared humble upbringings, and cementing what is to be a life long romance.
		</p>
		<p>
			Together, they select the culturally diverse city of Oaxaca as the venue for their holy matrimony.
		</p>
	</div>

</section>