<section id="about">
	<h1>about us</h1>

	<div class="photos">
		<img src="images/filler_ox.png"/>
		<img src="images/filler_ox.png"/>
	</div>

	<div class="about-text">
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras in sapien eu mauris suscipit volutpat. Duis eros ex, auctor non venenatis non, blandit quis elit. Mauris feugiat lacinia libero, at ullamcorper diam mattis a. Donec eu urna lorem. Morbi ultrices metus fermentum, malesuada eros sed, fringilla massa. Donec ut convallis metus. Phasellus nec ex vehicula, suscipit quam in, sagittis magna. Quisque lectus nunc, feugiat ac ante eu, dignissim tincidunt libero. Etiam ac nisl id tortor aliquet auctor. Proin molestie nibh non risus vulputate, id ultrices erat rhoncus. Mauris felis erat, tincidunt aliquam urna molestie, ullamcorper maximus ex. Nam efficitur mauris a lectus finibus aliquam. Ut ut consectetur arcu, vitae fringilla turpis. Nunc id varius lacus, in posuere sapien.
	</div>

</section>