<section id="flights">

	<div>
		<h1>Flights To Oaxaca</h1>
		<div class="con">
			<p>
				Oaxaca is serviced by Xoxocotlán International Airport (OAX).  There is a United 5:55 pm out of Houston into Oaxaca.  Transferring through Houston offers the fastest route into Oaxaca.
			</p>

			<p class="small-header">Thursday April 21, 2016</p>

			<p>
			LGA - OAX
			New York, NY (LGA) to Houston, TX (IAH)
			1:15 pm - 4:35 pm (4h 20m)
			Houston, TX (IAH) to Oaxaca, MX (OAX)
			5:55 pm - 8:29 pm (2h 34m)
			</p>

			EWR - OAX
			Newark, NJ (EWR) to Houston, TX (IAH)
			1:20 pm - 4:34 pm (4h 14m)
			Houston, TX (IAH) to Oaxaca, MX (OAX)
			5:55 pm - 8:29 pm (2h 34m)

		</div>
	</div>

	<div class="grey">
		<h1>Hotel</h1>
		<div class="con">
			<p>
			We have a hotel block at Quinta Real, but there are many beautiful options in Oaxaca.  Below are some suggestions.
			</p>

			<div class="things left">

				<div class="thing-image">
					<img src="images/filler_ox.png"/>
				</div>
				<div class="info">
					<span class="small-header">Quinta Real</span> <button ng-click="goTo('
	http://www.quintareal.com/la-coleccion/oaxaca')">More Info</button><br/>
					<p>
						Beautifully converted 16th century convent with lush grounds and and luxorious colonial details.
					</p>
				</div>

			</div>

			<div class="things left">

				<div class="thing-image">
					<img src="images/filler_ox.png"/>
				</div>
				<div class="info">
					<span class="small-header">Hotel Azul</span> <button ng-click="goTo('http://www.hotelazuloaxaca.com/')">More Info</button><br/>
					<p>
						Boutique hotel and gallery with modern design and style.
					</p>
				</div>

			</div>

			<div class="things left">

				<div class="thing-image">
					<img src="images/filler_ox.png"/>
				</div>
				<div class="info">
					<span class="small-header">Casa de Siete Balcones</span> <button ng-click="goTo('http://www.casadesietebalcones.com/')">More Info</button><br/>
					<p>
						Cozy and centrally located with warm and welcoming management.
					</p>
				</div>

			</div>

			<div class="things left">

				<div class="thing-image">
					<img src="images/filler_ox.png"/>
				</div>
				<div class="info">
					<span class="small-header">Hotel La Casona De Tita</span> <button ng-click="goTo('http://www.lacasonadetita.com.mx/')">More Info</button><br/>
					<p>
						Small but fancy and well-appointed hotel with large rooms surrounding a private courtyard.
					</p>
				</div>

			</div>

			<div class="things left">

				<div class="thing-image">
					<img src="images/filler_ox.png"/>
				</div>
				<div class="info">
					<span class="small-header">Hotel Oaxaca Real</span> <button ng-click="goTo('http://www.oaxacareal.com/index-es.html')">More Info</button><br/>
					<p>
						Mid-range option across the street from where the bride and groom are staying.
					</p>
				</div>

			</div>

			<div class="things left">

				<div class="thing-image">
					<img src="images/filler_ox.png"/>
				</div>
				<div class="info">
					<span class="small-header">El Diablo y la Sandia</span> <button ng-click="goTo('http://www.eldiabloylasandia.com/#!home/mainPage')">More Info</button><br/>
					<p>
						Hip little spot in the middle of town with five affordable rooms, communal kitchen and fridge, fresh styling all around
					</p>
				</div>

			</div>
		</div>
	</div>


</section>