<section id="flights">

	<div>
		<h1>Flights</h1>
		<div class="con">
			<p>
				Oaxaca is serviced by Xoxocotlán International Airport (OAX).  There is a United 5:55 pm out of Houston into Oaxaca.  Transferring through Houston offers the fastest route into Oaxaca. Here is a suggested itinerary for our NYC friends & family
			</p>

			<div class="flight-date">Thursday April 21, 2016</div>

			<div class="flights">
				<div class="airplane">
					<img src="images/airplane.png">
				</div>
				<div class="flight-info">
					LGA - OAX <br/>
					New York, NY (LGA) to Houston, TX (IAH) <br/>
					1:15 pm - 4:35 pm (4h 20m) <br/>
					Houston, TX (IAH) to Oaxaca, MX (OAX) <br/>
					5:55 pm - 8:29 pm (2h 34m) <br/>
				</div>
			</div>

			<div class="flights">
				<div class="airplane">
					<img src="images/airplane.png">
				</div>
				<div class="flight-info">
					EWR - OAX <br/>
					Newark, NJ (EWR) to Houston, TX (IAH) <br/>
					1:20 pm - 4:34 pm (4h 14m) <br/>
					Houston, TX (IAH) to Oaxaca, MX (OAX) <br/>
					5:55 pm - 8:29 pm (2h 34m) <br/>
				</div>
			</div>

			<div class="flight-date">Monday April 25, 2016</div>

			<div class="flights">
				<div class="airplane">
					<img src="images/airplane.png">
				</div>
				<div class="flight-info">

					OAX - LGA <br/>
					Oaxaca, MX (OAX) to Houston, TX (IAH) <br/>
					8:30 am - 11:04 am (2h 34m) <br/>
					Houston, TX, US (IAH) to New York, NY (LGA) <br/>
					1:00 pm - 5:25 pm (3h 25m) <br/>
				</div>
			</div>

			<div class="flights">
				<div class="airplane">
					<img src="images/airplane.png">
				</div>
				<div class="flight-info">
					OAX - EWR <br/>
					Oaxaca, MX (OAX) to Houston, TX (IAH)  <br/>
					8:30 am - 11:04 am (2h 34m) <br/>
					Houston, TX  (IAH)) to Newark, NJ (EWR) <br/>
					2:25 pm - 6:51 pm (3h 26m)"<br/>
				</div>
			</div>

			<div>Aeromexico also offers flights from NYC into Oaxaca, with connection through Mexico City.</div>

			<div class="flight-date">Oaxaca Airport to Town</div>

			<div>The center of Oaxaca is about 20 minutes from the airport.  Once you land and pass customs, head to the "Taxi TIcket" booth in the aiport, next to the car rental agencies.  Buy a collectivo ticket for zone 1 for $70 MXN and go outside, where you will be assigned to a van.

Alternatively, if traveling with a group heading to the same location, it is more cost effective to rent an especial van.  This is $285 MXN for up to 4 people of $410 MXN for up to 8.

There are no cash exhange places in the Oaxaca airport but there are 3 ATMs.  These offer the best exchange rates.

The airport is very small and easy to navigate!</div>

			<div class="small-header">Flights to the Beach</div>

			<div>
				We know traveling to Oaxaca takes some time, and hope that our guests can take this opportunity to make a full trip out of it.  Oaxaca state is home to some of the best beaches in Mexico.  They are about 6 hours by land, or :30 minutes by air.  Aero Tucan offers daily flights.
			</div>

			<div class="flight-date">Puerto Escondido</div>

			<div>
				A bohemian surf town popular with Australians and Europeans (particularly Italians), Puerto Escondido's main draw is the world class surf beach of Zicatela (pros only), but also has several bays for surfers or trippers of all skill levels. Make freshly caught shrimp cocktail and whole red snapper your every day meals!
			</div>

			<div class="flights">
				<div class="airplane">
					<img src="images/airplane.png">
				</div>
				<div class="flight-info">

					OAX - PXM<br/>
					Oaxaca, MX (OAX) to Puerto Escondido, MX (PXM)<br/>
					7:00 am Monday to Saturday<br/>
					12:00 pm Sunday<br/>
				</div>
			</div>

			<div class="flights">
				<div class="airplane">
					<img src="images/airplane.png">
				</div>
				<div class="flight-info">
					PXM - OAX<br/>
					Puerto Escondido, MX (PXM) to Oaxaca, MX (OAX) <br/>
					8:00 am Monday to Saturday<br/>
					1:00 pm Sunday<br/>
				</div>
			</div>

			<div class="flight-date">Huatulco</div>

			<div>
				A more developed resort destination with a clear concern for sustainable building, Huatulco offers a more approachable set of beaches and activities suitable for families or those looking to relax to the max. Lodging options include a full range, up to five star jams.
			</div>

			<div class="flights">
				<div class="airplane">
					<img src="images/airplane.png">
				</div>
				<div class="flight-info">
					OAX - HUX<br/>
					Oaxaca, MX (OAX) to Huatulco, MX (HUX)<br/>
					9:00 am Monday to Saturday<br/>
					10:00 am Sunday<br/>
				</div>
			</div>

			<div class="flights">
				<div class="airplane">
					<img src="images/airplane.png">
				</div>
				<div class="flight-info">
					HUX - OAX<br/>
					Huatulco, MX (HUX) to Oaxaca, MX (OAX) <br/>
					10:00 am Monday to Saturday<br/>
					11:00 pm Sunday<br/>
				</div>
			</div>
		</div>
	</div>




</section>