<section id="hotels">
	<div class="">
		<h1>Accommodations</h1>
		<div class="con">
			<p class="desc">
				There are many beautiful options in Oaxaca.  We hand selected the following places for our guests. Please call or email and mention "la boda de Maharlika y Dami&#225n" to get the discounted rates.  Our top picks are listed first!
			</p>

			<div class="things left">
				<div class="thing-image">
					<img src="images/hotels/hotel_3.png"/>
				</div>
				<div class="info">
					<span class="small-header">Casa Catrina</span> <button ng-click="goTo('http://casacatrina.com.mx')">More Info</button><br/>
					<p>
						Beautiful hotel with design that enhances colonial bones.  Six rooms available, book one of the suites with private large terraces!  ($1600 MXN - $2100 MXN)
					</p>
				</div>
			</div>


			<div class="things left">
				<div class="thing-image">
					<img src="images/hotels/hotel_4.jpg"/>
				</div>
				<div class="info">
					<span class="small-header">La Catrina de Alcala</span> <button ng-click="goTo('http://alcala.casacatrina.com.mx/')">More Info</button><br/>
					<p>
						Boutique hotel and gallery right on the main pedestrian mall.  Thirteen rooms available.  ($1500 MXN - $1700 MXN)
					</p>
				</div>
			</div>

			<div class="things left">
				<div class="thing-image">
					<img src="images/hotels/hotel_7.png"/>
				</div>
				<div class="info">
					<span class="small-header">El Secreto</span> <button ng-click="goTo('http://elsecreto.lasbugambilias.com/oaxaca-bed-breakfast-e.htm')">More Info</button><br/>
					<p>
						Private guest house with hip artisan decor and great breakfast spreads.  Three rooms available, great for a group.  ($1200 MXN - $1500 MXN)
					</p>
				</div>
			</div>

			<div class="things left">
				<div class="thing-image">
					<img src="images/hotels/hotel_1.jpg"/>
				</div>
				<div class="info">
					<span class="small-header">Hotel La Casona de Tita</span> <button ng-click="goTo('
	http://www.lacasonadetita.com.mx/')">More Info</button><br/>
					<p>
						Small but well-appointed hotel with large rooms surrounding a private courtyard.  Five rooms available.  ($3050 MXN - $3950 MXN)
					</p>
				</div>
			</div>

			<div class="things left">
				<div class="thing-image">
					<img src="images/hotels/hotel_9.jpg"/>
				</div>
				<div class="info">
					<span class="small-header">Diablo y Sandia (Boca del Monte)</span> <button ng-click="goTo('http://www.eldiabloylasandiabm.com/')">More Info</button><br/>
					<p>
						The new second location of this popular bed and breakfast with fresh artful Oaxacan details throughout and large common areas.  Eight rooms available. ($900 MXN - $1500 MXN)
					</p>
				</div>
			</div>

			<div class="things left">
				<div class="thing-image">
					<img src="images/hotels/hotel_8.png"/>
				</div>
				<div class="info">
					<span class="small-header">Casa de los Milagros</span> <button ng-click="goTo('http://lasbugambilias.com/the-houses/los-milagros/')">More Info</button><br/>
					<p>
						Large private colonial home with comfortable amenitites.  Three rooms available, great for a group. ($1300 MXN - $1500 MXN)
					</p>
				</div>
			</div>

			<div class="things left">

				<div class="thing-image">
					<img src="images/hotels/hotel_5.jpg"/>
				</div>
				<div class="info">
					<span class="small-header">Casa de Siete Balcones</span> <button ng-click="goTo('http://www.casadesietebalcones.com/')">More Info</button><br/>
					<p>
						Cozy and centrally located with warm and welcoming management. Seven rooms available.  ($1450 MXN - $1550 MXN)
					</p>
				</div>
			</div>

			<div class="things left">
				<div class="thing-image">
					<img src="images/hotels/hotel_6.jpg"/>
				</div>
				<div class="info">
					<span class="small-header">Hostal de La Noria</span> <button ng-click="goTo('http://www.hostaldelanoria.com/')">More Info</button><br/>
					<p>
						Spacious hacienda with multiple outdoor spaces located across the street from the reception venue. Fourteen rooms available.  ($1400 MXN - $2100 MXN)
					</p>
				</div>
			</div>

			<div class="things left">
				<div class="thing-image">
					<img src="images/hotels/hotel_2.jpg"/>
				</div>
				<div class="info">
					<span class="small-header">Palacio Borghese</span> <button ng-click="goTo('http://www.palacioborghese.com/')">More Info</button><br/>
					<p>
						Luxorious rooms, albeit with ornate, out of context interior design.  Rooftop with great views of Santo Domingo.  Eight rooms available.  ($2800 MXN - $3300 MXN)
					</p>
				</div>
			</div>

			<p class="desc2">
				We do not have blocks at these hotels, but they are additional options.
			</p>

			<div class="things left">
				<div class="thing-image">
					<img src="images/hotels/hotel_10.png"/>
				</div>
				<div class="info">
					<span class="small-header">Quinta Real</span> <button ng-click="goTo('
http://www.quintareal.com/la-coleccion/oaxaca')">More Info</button><br/>
					<p>
						Beautifully converted 16th century convent with lush grounds and luxorious colonial details.  Availability to potentially open up in February.
					</p>
				</div>
			</div>

			<div class="things left">
				<div class="thing-image">
					<img src="images/hotels/hotel_11.png"/>
				</div>
				<div class="info">
					<span class="small-header">Hotel Azul</span> <button ng-click="goTo('http://www.hotelazuloaxaca.com/')">More Info</button><br/>
					<p>
						Another boutique hotel and gallery with modern design and style.  Availability to potentially open up in February.
					</p>
				</div>
			</div>

			<div class="things left">
				<div class="thing-image">
					<img src="images/hotels/hotel_12.png"/>
				</div>
				<div class="info">
					<span class="small-header">Hotel Abu</span> <button ng-click="goTo('http://hotelabu.com/')">More Info</button><br/>
					<p>
						What this hotel lacks in traditional charm, it makes up for in location and value.  Clean rooms and contemporary design.
					</p>
				</div>
			</div>

			<div class="things left">
				<div class="thing-image">
					<img src="images/hotels/hotel_13.png"/>
				</div>
				<div class="info">
					<span class="small-header">Hotel CasAntica</span> <button ng-click="goTo('http://hotelcasantica.com')">More Info</button><br/>
					<p>
						Newly renovated hotel combining colonial achitecture with modern comforts.
					</p>
				</div>
			</div>

			<iframe src="https://www.google.com/maps/d/embed?mid=zrZerbRux2RY.ks23abHBtVqs" width="640" height="480"></iframe>
		</div>
	</div>
</section>