<section id="main">

	<div class="header"  ng-show='!desc'>
		<h1>Maharlika Y Dami&#193n</h1>
		<h2>April 23 2016 &nbsp;Oaxaca Mexico</h2>

		<button ng-click="showDesc()">You're Invited</button>
	</div>

	<div class="desc" ng-show="desc">
		<div class="con">
			<p>
				Welcome to our wedding website (powered by the Mance brothers/designed and developed by the Mance brothers)! We are preparing an epic celebration with a Zapotec-colonial backdrop and will be thrilled if you can join and witness our holy matrimony.
			</p>
		</div>
	</div>

</section>