<section id="oaxaca">

	<div class="con">
		<h1>about oaxaca</h1>

		<div class="photos">
			<img src="images/aboutoaxaca_1.jpg"/>
			<img src="images/aboutoaxaca_2.jpg"/>
		</div>

		<p>
			Located in the south of Mexico and including a long Pacific coast, Oaxaca state has long been neglected by federal authorities but cradled some of the finest thinkers and movements that built the Nation. Oaxaca state has its main roots with the Zapotec and Mixtec civilization, with many diverse languages and cultures across its mountain ranges and valleys of the Sierra Madre Occidental.
		</p>

		<p>
			Thanks to its colonial architecture and rich flavours of a staple cousine that includes mole, chocolate, coffee and cheese, Oaxaca City (officially named Oaxaca de Juarez) has been a travel hub for European and Australian travelers for many decades. A decidedly independent and strong political stand has created autonomous municipalities around its mountain range, as well as bohemian beach towns along its shore lines.
		</p>

		<p>
			We have always been drawn to Oaxaca and hope it leaves it magic on our guests!
		</p>

	</div>

	<div class="grey">
		<div class="con">
			<h1>Things to do</h1>

			<div class="small-header">Food & Drink in the City</div>

			<div class="thing">
				<div class="title"><a href="http://www.casaoaxacaelrestaurante.com/php/spa/index.php">Casa Oaxaca</a></div>
				<p>
				Led by Chef Alejandro Ruiz, creating traditional yet sophisticated Oaxacan dishes.  Rooftop dining terrace overlooks Santo Domingo.
				</p>
			</div>

			<div class="thing">
				<div class="title"><a href="https://www.facebook.com/lapopularoaxaca/">La Popular</a></div>
				<p>
				Casual eatery with reliable classics, from tacos to tostadas.  Across the street from delicious street quesadillas.
				</p>
			</div>

			<div class="thing">
				<div class="title"><a href="http://www.losdanzantes.com/">Los Danzantes</a></div>
				<p>
				Located on Alcala, with a large back courtyard.  Delicious organic salads and other fresh Oaxacan fare.
				</p>
			</div>

			<div class="thing">
				<div class="title">Catedral</div>
				<p>
				So delicious, we had them cater our wedding.
				</p>
			</div>

			<div class="thing">
				<div class="title"><a href="https://www.facebook.com/SabinaSabeOaxaca">Sabina Sabe</a></div>
				<p>
				Full of Oaxacan hipsters and a lot of mezcal.
				</p>
			</div>

			<div class="thing">
				<div class="title"><a href="http://oaxaca.pruebalo.com.mx/restaurantes/del-jardin-cafe-bar">Del Jardin Cafe Bar</a></div>
				<p>
				Long standing cafe in the zocalo, ideal for drinks and snacks while people watching.
				</p>
			</div>

			<div class="thing">
				<div class="title"><a href="http://www.mezcaloteca.com/">Mezcaloteca</a></div>
				<p>
				If you have time, sign up for their thorough mezcal tasting.
				</p>
			</div>

			<div class="thing">
				<div class="title">Other Highly Recommended Tasty Choices</div>
				<p>
				<a href="http://expendiotradicion.com/">Expendio Tradicion</a>, <a href="http://www.origenoaxaca.com/home.html">Origen</a>, <a href="http://www.pitiona.com/">Pitiona</a>
				</p>
			</div>

			<div class="small-header">Culture in the city</div>

			<div class="thing">
				<div class="title">Museo del las Culturas</div>
				<p>
				Attached to our wedding venue, and where to start your journey in Oaxacan history, from pre-Hispanic to present day.
				</p>
			</div>

			<div class="thing">
				<div class="title">Jardin Etnobotanico</div>
				<p>
				Botanical garden outside the Cutural Museum and Santo Domingo.
				</p>
			</div>

			<div class="thing">
				<div class="title">Museo de Arte Contemporaneo de OaxaCa (MACO)</div>
				<p>
				Contemporary Art Museum
				</p>
			</div>

			<div class="thing">
				<div class="title">Museo del Textil</div>
				<p>
				Textile Museum
				</p>
			</div>

			<div class="thing">
				<div class="title">Museo de la Filatelia (MUFI)</div>
				<p>
				Stamp Museum
				</p>
			</div>

			<div class="thing">
				<div class="title">Centro Fotografico Manuel Alvarez Bravo</div>
				<p>
				Photography
				</p>
			</div>

			<div class="thing">
				<div class="title">Mercado 20 de Noviembre</div>
				<p>
				Oaxacan market selling everything from handicarafts to mole.
				</p>
			</div>

			<div class="thing">
				<div class="title">Mercado de Benito Juarez</div>
				<p>
				Bustling food market one block south of the zocalo.
				</p>
			</div>

			<div class="thing">
				<div class="title">Mercado de Artesanias</div>
				<p>
				Farther south but concentrated with Oaxacan artisans.
				</p>
			</div>

			<div class="small-header">Around the city</div>

			<div class="thing">
				<div class="thing">
					<div class="title">Monte Alban</div>
					<p>
					A sprawling Zapotec ceremonial center on a mountain top overalooking the valley of Oaxaca, Monte Alban was a regional socio-policical and cultural center for a few centuries, peaking in relevance around 900AC. It contains several massive platforms for ceremonial processions, temples, palaces and a ball court.
					</p>
				</div>
				<div class="thing">
					<div class="title">Mitla</div>
					<p>
					Archeological site near Oaxaca city featuring exquisite and elaborate stone carved mosaics of patterns and geometric designs over tombs, panels and walls, carefully cut and polished to be assembled without the use of mortar. Constructions were more for lush residential purposes than the ceremonial and political relevance of Monte Alban.
					</p>
				</div>
				<div class="thing">
					<div class="title">Teotitlan del Valle</div>
					<p>
					A small village near the city best known for its textiles, woven rugs and hand operated looms. Wool is obtained from sheep and dyed with natural pigments made of insects, bush, wild plants or trees. Patterns and specific dye colors are often specialty of the particular shop and passed on through generations of family artisan solos.
					</p>
				</div>
				<div class="thing">
					<div class="title">Arbor del Tule</div>
					<p>
					Ahuehuete tree on the grounds of a church on the way to Mitla, with a turnk measuring 140ft around and 46ft diameter, it has the stoutest trunk in the world! It took DNA testing to determine it to be a single tree and thought to be about 1,500 years old. Its crown provides enough shade for our entire wedding party to drink mezcal for hours and is still a potential site for the reception as long as I can set up turntables on a tree branch.
					</p>
				</div>
				<div class="thing">
					<div class="title">Hierve el Agua</div>
					<p>
					A set of natural rock formations, grown over thousands of years by natural springs heavy on minerals. Two primary formations are almost 300ft tall and could be easily mistaken as a frozen salt waterfall. Site also features natural spring swimming pools and guided hiking around the cliffs and jagged paths.
					</p>
				</div>
			</div>
		</div>
	</div>

	<div class="con map">
	<iframe src="https://www.google.com/maps/d/embed?mid=zrZerbRux2RY.kTgAPbDM9eJc&hl=en" width="640" height="480"></iframe>
	</div>

</section>
