<section id="oaxaca">

	<div class="con">
		<h1>about oaxaca</h1>

		<div class="photos">
			<img src="images/filler_ox.png"/>
			<img src="images/filler_ox.png"/>
		</div>

		<p>
			Located in the south of Mexico and including a long Pacific coast, Oaxaca state has long been neglected by federal authorities but cradled some of the finest thinkers and movements that built the Nation. Oaxaca state has its main roots with the Zapotec civilization, with many diverse languages and cultures across its mountain ranges and valleys of the Sierra Madre Occidental.

		</p>

		<p>
			Thanks to its colonial architecture and rich flavours of a staple cousine that includes mole, chocolate, coffee and cheese, Oaxaca City (better known as Oaxaca de Juarez) has been a travel hub for European and Australian travelers for many decades. A decidedly independent and strong political stand has created autonomous municipalities around its mountain range, as well as bohemian beach towns along its shore lines.
		</p>

		<p>
			We love Oaxaca and can't wait for you to experience it with us.
		</p>

	</div>

	<div class="grey">
		<h1>Things to do</h1>
		<h1>Coming Soon</h1>
		<!--
		<div class="con">
			<div class="things">
				<div class="info">
					<span class="small-header">Within the city:</span> <button>More Info</button><br/>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras in sapien eu mauris suscipit volutpat. Duis eros ex, auctor non venenatis non, blandit quis elit. Mauris feugiat lacinia libero, at ullamcorper diam mattis a.
					</p>
				</div>
				<div class="thing-image">
					<img src="images/filler_ox.png"/>
				</div>
			</div>

			<div class="things">
				<div class="info">
					<span class="small-header">Around the city:</span> <button>More Info</button><br/>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras in sapien eu mauris suscipit volutpat. Duis eros ex, auctor non venenatis non, blandit quis elit. Mauris feugiat lacinia libero, at ullamcorper diam mattis a.
					</p>
				</div>
				<div class="thing-image">
					<img src="images/filler_ox.png"/>
				</div>
			</div>

			<div class="things">
				<div class="info">
					<span class="small-header">On the coast:</span> <button>More Info</button><br/>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras in sapien eu mauris suscipit volutpat. Duis eros ex, auctor non venenatis non, blandit quis elit. Mauris feugiat lacinia libero, at ullamcorper diam mattis a.
					</p>
				</div>
				<div class="thing-image">
					<img src="images/filler_ox.png"/>
				</div>
			</div>
		</div>
		-->
	</div>

</section>