<section id="oaxaca">

	<div class="con">
		<h1>about oaxaca</h1>

		<div class="photos">
			<img src="images/aboutoaxaca_1.jpg"/>
			<img src="images/aboutoaxaca_2.jpg"/>
		</div>

		<p>
			Located in the south of Mexico and including a long Pacific coast, Oaxaca state has long been neglected by federal authorities but cradled some of the finest thinkers and movements that built the Nation. Oaxaca state has its main roots with the Zapotec and Mixtec civilization, with many diverse languages and cultures across its mountain ranges and valleys of the Sierra Madre Occidental.
		</p>

		<p>
			Thanks to its colonial architecture and rich flavours of a staple cousine that includes mole, chocolate, coffee and cheese, Oaxaca City (officially named Oaxaca de Juarez) has been a travel hub for European and Australian travelers for many decades. A decidedly independent and strong political stand has created autonomous municipalities around its mountain range, as well as bohemian beach towns along its shore lines.
		</p>

		<p>
			We have always been drawn to Oaxaca and hope it leaves it magic on our guests!
		</p>

	</div>

	<div class="grey">
		<div class="con">
			<h1>Things to do</h1>

			<div class="small-header">Food & Drink in the City</div>

			<div class="thing">
				<div class="title">Casa Oaxaca</div>
				<p>
				Led by Chef Alejandro Ruiz, creating tradtional yet sophiscated Oaxacan dishes.  Rooftop dining terrace overlooks Santo Domingo.
				</p>
			</div>

			<div class="thing">
				<div class="title">La Popular</div>
				<p>
				Casual eatery with reliable classics, from tacos to tostadas.  Across the street from delicious street quesadillas.
				</p>
			</div>

			<div class="thing">
				<div class="title">Los Danzantes</div>
				<p>
				Located onAlcala, with a large back courtyard.  Delicious organic salads and other fresh Oaxacan fare.
				</p>
			</div>

			<div class="thing">
				<div class="title">Catedral</div>
				<p>
				So delicious, we had them cater our wedding.
				</p>
			</div>

			<div class="thing">
				<div class="title">Sabina Sabe</div>
				<p>
				Full of Oaxacan hipsters and a lot of mezcal.
				</p>
			</div>

			<div class="thing">
				<div class="title">Del Jardin Cafe Bar</div>
				<p>
				Long standing cafe in the zocalo, ideal for drinks and snacks while people watching.
				</p>
			</div>

			<div class="thing">
				<div class="title">Mezcaloteca</div>
				<p>
				If you have time, sign up for their thorough mezcal tasting.
				</p>
			</div>

			<div class="thing">
				<div class="title">Other Highly Recommended Tasty Choices</div>
				<p>
				Expendio Tradicion, Origen, Pitiona
				</p>
			</div>

			<div class="small-header">Culture in the city</div>

			<div class="thing">
				<div class="title">Museo del las Culturas</div>
				<p>
				Attached to our wedding venue, and where to start your journey in Oaxacan history, from pre-Hispanic to present day.
				</p>
			</div>

			<div class="thing">
				<div class="title">Jardin Etnobotanico</div>
				<p>
				Botanical garden outside the Cutural Museum and Santo Domingo.
				</p>
			</div>

			<div class="thing">
				<div class="title">Museo de Arte Contemporaneo de OaxaCa (MACO)</div>
				<p>
				Contemporary Art Museum
				</p>
			</div>

			<div class="thing">
				<div class="title">Museo del Textil</div>
				<p>
				Textile Museum
				</p>
			</div>

			<div class="thing">
				<div class="title">Museo de la Filatelia (MUFI)</div>
				<p>
				Stamp Museum
				</p>
			</div>

			<div class="thing">
				<div class="title">Centro Fotografico Manuel Alvarez Bravo</div>
				<p>
				Photography
				</p>
			</div>

			<div class="thing">
				<div class="title">Mercado 20 de Noviembre</div>
				<p>
				COaxacan market selling everything from handicarafts to mole.
				</p>
			</div>

			<div class="thing">
				<div class="title">Mercado de Benito Juarez</div>
				<p>
				Bustling food market one block south of the zocalo.
				</p>
			</div>

			<div class="thing">
				<div class="title">Mercado de Artesanias</div>
				<p>
				Farther south but concentrated with Oaxacan artisans.
				</p>
			</div>

			<div class="small-header">Around the city</div>

			<div class="thing">
				<div class="title">Monte Alban</div>
				<div class="title">Mitla</div>
				<div class="title">Teotitlan del Valle</div>
				<div class="title">Arbor de Tule</div>
				<div class="title">Hierve el Agua</div>
			</div>
		</div>
	</div>

</section>
