<section id="registry">
	<div>
	<h1>Registry</h1>
	</div>

	<div>
		<p class="con">
			Your precense at our wedding is truly the present.  Should you wish to gift us another way, we are registered below.
		<p>
		<div class="con">
			<div class="reg-logo">
				<div class="bloom">
					<a href="http://www1.bloomingdales.com/registry/wedding/guest/?registryId=6369945"><img src="images/bloomingdales.png"/></a>
				</div>
				<div class="williams">
					<a href="https://secure.williams-sonoma.com/registry/jclmvn7wvx/registry-list.html"><img src="images/williams.png"/></a>
				</div>
			</div>
		</div>
</section>