<section id="schedule">
	<div class="con">
		<h1>Schedule </h1>
		<p style="text-align:center;">Please check back here for updates on additonal events</p>
	</div>
	<div class="con">
		<div class="things">

			<div class="info">
				<span class="small-header">Civil Ceremony - 5:00 PM</span>
				<p>Quinta Real, Jardin Los Naranjos</p>
				<p>5 De Mayo, 300, Centro, Oaxaca, Mexico</p>
			</div>
			<div class="thing-image">
				<img src="images/schedule_1.jpg"/>
			</div>
		</div>

		<div class="things">
			<div class="info">
				<span class="small-header">Ceremony - 6:00 PM</span>
				<p>Templo De Santo Domingo</p>
				<p>Calle Constitucion 101, Centro, Oaxaca, Mexico</p>
			</div>
			<div class="thing-image">
				<img src="images/schedule_2.jpg"/>
			</div>
		</div>

		<div class="things">
			<div class="info">
				<span class="small-header">Calenda & Reception - 7:00 PM</span>
				<p>Centro Académico y Cultural San Pablo</p>
				<p>Miguel Hidalgo 907, Centro, Oaxaca, Mexico</p>
			</div>
			<div class="thing-image">
				<img src="images/schedule_3.jpg"/>
			</div>
		</div>
	</div>
</section>